.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

@media only screen and (max-width: 1080px) {
    .routess {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:600px) {
    .titel {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

.nav h1 {
    font-size: 40px;
    color: aqua;
}

.nav a {
    text-decoration: none;
    font-size: 22px;
    padding-left: 15px;
}

.nav a:hover {

    font-size: 32px;
    color: deeppink;

}