.quistien {
    width: 75%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1080px) {
    .quistien {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .quistien {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.quistien h3 {
    font-size: 33px;
}




.single-ques {
    border: 2px solid lightblue;

}